<h1 mat-dialog-title>{{data.element.name}}</h1>
<mat-dialog-content>
  <img [src]="data.element.urlImg" [alt]="data.element.name">
  <div *ngIf="data.element.bio">
    <h2>Biographie</h2>
    <p>{{data.element.bio}}</p>
  </div>
  <div *ngIf="data.element.birthDate">
    <h3>Date de naissance</h3>
    {{data.element.birthDate}}
  </div>
  <div *ngIf="data.element.deathDate">
    <h3>Date de décès</h3>
    {{data.element.deathDate}}
  </div>
  <div *ngIf="data.element.notableWorks">
    <h2>Travail notoire</h2>
    <pre>{{data.element.notableWorks}}</pre>
  </div>
  <div>
    <h3>Autres informations</h3>
    <ul>
      <li *ngIf="data.element.isbn">ISBN: {{data.element.isbn}}</li>
    </ul>
  </div>
</mat-dialog-content>

