/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
  padding: 0;
  margin: 0;
  height: 100%;

  font-family: Roboto,"Helvetica Neue",sans-serif;
}
