ul {
  padding: 0;
  list-style-type: none;
}

mat-card-content {
  color: #616161;
}

.person > h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.person ul {
  margin-top: 5px;
  margin-bottom: 0;
}
