<mat-card-title>{{element.seriesName}}</mat-card-title>
<mat-card-subtitle>{{element.booksName.length}} Tomes</mat-card-subtitle>
<mat-card-content>
  <h4>Tomes</h4>
  <app-expander [limit]="5" [array]="element.booksName"></app-expander>
  <h4>Auteurs</h4>
  <app-expander [limit]="5" [array]="authorsArray()"></app-expander>
  <h4>Dessinateurs</h4>
  <app-expander [limit]="5" [array]="illustratorsArray()"></app-expander>
  <h4>Maisons d'edition</h4>
  <app-expander [limit]="5" [array]="editorsArray()"></app-expander>
</mat-card-content>
