<h1 mat-dialog-title>{{data.element.seriesName}}</h1>
<mat-dialog-content>
  <div *ngIf="data.element.booksName.length > 0">
    <h2>Tomes</h2>
    <ul>
      <li *ngFor="let book of data.element.booksName">{{book}}</li>
    </ul>
  </div>
  <div *ngIf="data.element.authorsArray().length > 0">
    <h2>Auteurs</h2>
    <ul>
      <li *ngFor="let author of data.element.authorsArray()">{{author}}</li>
    </ul>
  </div>
  <div *ngIf="data.element.illustratorsArray().length > 0">
    <h2>Dessinateurs</h2>
    <ul>
      <li *ngFor="let illustrator of data.element.illustratorsArray()">{{illustrator}}</li>
    </ul>
  </div>
  <div *ngIf="data.element.editorsArray().length > 0">
    <h2>Maison d'édition</h2>
    <ul>
      <li *ngFor="let editor of data.element.editorsArray()">{{editor}}</li>
    </ul>
  </div>
</mat-dialog-content>

