<mat-toolbar color="primary">
  ParrotComics - The comics search engine
</mat-toolbar>
<div class="container">
  <div class="query-container">
    <h1 class="logo">
      <img src="/assets/img/parrots/{{parrot}}.gif" alt="ParrotComics"> <span class="pow-color">Parrot</span>Comics&nbsp;<span class="catcha-color" (click)="setRandomParrot()">!</span>
    </h1>
    <form [formGroup]="form" (ngSubmit)="search()">
      <mat-form-field class="search-bar" floatPlaceholder="never" hideRequiredMarker="true">
        <input matInput placeholder="Rechercher une BD, un comic, un manga..." [formControl]="form.get('query')" required>
      </mat-form-field>
      <button matSuffix mat-mini-fab [disabled]="form.get('query').hasError('required')">
        <mat-icon class="search-button">search</mat-icon>
      </button>
    </form>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Options de recherche
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder="Point d'accès serveur" [value]="engineService.endpoint">
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="search-container" *ngIf="showSearchResults" infiniteScroll [infiniteScrollDistance]="0.2" (scrolled)="nextResults()">
    <div class="cardblocks-container" *ngFor="let cards of cardBlocks; index as page">
      <h2 class="text-center">Page {{page+1}}</h2>
      <div class="cards-container">
        <app-enginecard *ngFor="let card of cards; index as i" [page]="page" [id]="i" [engineElement]="card" (ignored)="removeCard($event)"></app-enginecard>
      </div>
    </div>
    <button *ngIf="false === searching" (click)="nextResults(true)" class="next-results-button" mat-fab color="primary">
      <mat-icon>find_replace</mat-icon>
    </button>
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      *ngIf="searching"
      aria-label="Chargement des résultats">
    </mat-progress-spinner>
  </div>
</div>
<!--<mat-toolbar class="footer">-->
<!--<p>&copy; 2017 - Team Parrot - INSA Lyon</p>-->
<!--</mat-toolbar>-->
