mat-toolbar {
  margin-bottom: 7em;
}

mat-toolbar.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #757575;
  font-size: 1em;
  line-height: 1em;
}

mat-toolbar.footer > p {
  float: right;
}

div.container {
}

div.query-container {
  width: 40vw;
  margin: 0 auto;
}

.logo {
  font-family: 'Bangers', sans-serif;
  font-size: 5.5vw;
  margin-bottom: 0.1em;
}

.logo > img {
  width: 6vw;
}

.pow-color {
  color: #263238;
}

.catcha-color {
  color: #DD2C00;
}

.next-results-button {
  position: fixed !important;
  bottom: 1rem;
  right: 1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field.search-bar {
  font-size: 1.5em;
  width: 100%;
}

mat-progress-spinner {
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

div.search-container {
  width: 90vw;
  margin:0 auto;
}

.cards-container {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;

  -webkit-column-gap: 0.2em;
  -moz-column-gap: 0.2em;
  column-gap: 0.2em;
}

app-enginecard {
  display: inline-block;
  margin-bottom: 0.3em;
  width: 100%;
}

@media screen and (max-width: 1425px) {
  .cards-container {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}

@media screen and (max-width: 1200px) {
  .cards-container {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media screen and (max-width: 968px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
