mat-card {
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.5), 0 2px 2px 0 rgba(0,0,0,.3), 0 1px 5px 0 rgba(0,0,0,.3) !important;
}

a.sources {
  text-decoration: none;
}
