<mat-card [@easeIn]>
  <div [ngSwitch]="checkContentType()">

    <card-bookcontent [element]="engineElement" *ngSwitchCase="'book'"></card-bookcontent>
    <card-seriecontent [element]="engineElement" *ngSwitchCase="'serie'"></card-seriecontent>
    <card-personcontent [element]="engineElement" *ngSwitchCase="'person'"></card-personcontent>

    <card-defaultcontent [element]="engineElement" *ngSwitchDefault ></card-defaultcontent>
  </div>
  <mat-card-content><a class="sources" href="#" (click)="openSources()"><mat-icon>share</mat-icon> Liens associés</a></mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openDialog()"><mat-icon>more_vert</mat-icon> DETAILS</button>
    <button mat-button (click)="debug()"><mat-icon>bug_report</mat-icon> DEBUG</button>
  </mat-card-actions>
</mat-card>
