<img mat-card-image [src]="element.urlImg" *ngIf="element.urlImg" alt="">
<mat-card-title>{{element.name}}</mat-card-title>
<mat-card-subtitle>{{localisedType()}}</mat-card-subtitle>
<mat-card-content>
  <ul>
    <li *ngIf="element.birthDate">Né le: {{element.birthDate}}</li>
    <li *ngIf="element.deathDate">Décédé le: {{element.deathDate}}</li>
    <li *ngIf="element.nationality">Nationalité: {{element.nationality}}</li>
  </ul>
</mat-card-content>
